*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

.section3,.section4,.section5,
.section6,.section7,.section8,.section9,.section10{
    border: 1px solid red;
    height: 100vh;
}
.section1{
    padding:1% 7%;
    background-position: center;
    /* justify-content: space-between; */
    align-items: center;
    background-image: url(images/background.jpg);
   
   
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 10%;
    color: #fff;
    background-repeat: no-repeat;

    

   
    
}

nav{
    width: 88%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100%;
    color: #fff;
    position: fixed;
    text-align: center;
    margin: auto;
}
nav ul{
flex: 1;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    text-transform: uppercase;
    
   
}
nav ul li a{
    color:white;
    text-decoration: none;
    
    
}
nav ul li a:hover{
    color: #fff;
;
    text-decoration: none;
}
/* .section2{
   width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 10%;
    color: #fff;
    background-repeat: no-repeat;
}
 */
 .btn{
    display: flex;
    text-align: right;
    background: #ff960b;
    border-radius: 12px;
    color: #fff;
    padding: 15px 10px;
    
 }

 .section1a{
    /* background-color: blue; */
    /* padding: 15px 15px; */
    position: sticky;
    text-align: left;
    padding-top: 20px;
 }
 
 
 
 .btn1{
     /* display: flex;  */
     text-align: left; 
    /* float: left; */
    background: blue;
    border-radius: 8px;
    color: #fff;
    padding:15px 10px ;
    position: fixed;
 }
 /* .img{
    display: flex;
    height: 10px;
    width: 50px;
 }


     */
     .content{
        text-align: center;
        padding-top: 25%;
        font-size: 52px;
     }
     .content .h1{
        font-size: 70px;
        text-align: center;
        padding-top: 50%;
     }
     .section2{
background-color: blue;
background-position: center;
height: 100vh;
width: 100%;
display: flex;
 /* margin-top: -10%;  */

/* padding-top: 20%; */

     }
     .img{
        text-align: center;
        width: 100px;
        height: 50vh;
        padding: 20px;
        background-position: center;
     }
     
     .container1 h1 {
        color:#fff;
        padding: 10px 10px;
        text-align: center;
        width: 300px;
        padding-left: 10%;
    }
    .container1 p{
padding: 10px 10px;
text-align: center;
color: #fff;
    }
    .container1{
        /* border-radius:10px;
        box-shadow: 0px 3px 5px 1px blue; */
        /* padding-top: 10%; */
        /* width: 500px;
        height: 100px; */
        /* padding-left: 20%; */
        display:inline-block;
        background-color:blue;
        width:450px;
        height:220px;
        text-align: center;
        padding: 24px 0px opx opx;
        border-radius: 5px;
        margin-top: 50px;
        margin-left: 45px;
    }
    .container2{
        /* border-radius: 15px;
        box-shadow: 1px 3px 5px 1px blue;
        padding-top: 30%;
        /* height: 100vh;
        width: 500px; */
        /* text-align: right;
        margin-left: 30px; */ 
        display:inline-block;
        background-color:blue;
        width:450px;
        height:220px;
        text-align: center;
        padding: 24px 0px opx opx;
        border-radius: 5px;
        margin-top: 50px;
        margin-left: 45px;

    }
 h2 {
        color:#fff;
        padding: 10px 10px;
        text-align: center;
        color: #fff;
        padding-top: 30%;
        
    }
    .container2 p{
padding: 10px 10px;
text-align: center;
color: #fff;
    }
    